<div class="container">
  <h1>About Us</h1>
  <img src="../../assets/Aboutus.png" alt="Mall" class="logo">
  <br><br>
  <p class="text">This is a mini project created by Chian Soon Kai, a small small intern guy in Fusionex. 24 years old, graduated from University Malaysia Pahang, Bachelor of Computer Science (Software Engineering) with Honors. This project is about e-commerce website, which allows user to purchase product, rate the product; seller to manage product and feedback; admin to manage seller account, they are also able to manage their profile.</p>
</div>