<div class="containe">
  <h1>Contact Us</h1>
  <img src="../../assets/Contactus.png" alt="Contact" class="logo">

      <div class="content col-12">
        <table>
          <tr>
            <td class="detail">
              <img src="../../assets/globe.svg" class="Icon" />
              <a href="https://console.firebase.google.com/u/0/project/ngcart-7878e/authentication/users" target="_blank">www.website.com</a>
            </td>
          </tr>
          <tr>
            <td class="detail">
              <img src="../../assets/telephone.svg" class="Icon" />
              <a href="tel: 0166938669">016-6938669</a>
            </td>
          </tr>
          <tr>
            <td class="detail"><img src="../../assets/envelope.svg" class="Icon" />
              <a href="mailto: chianraymond97@gmail.com">chianraymond97@gmail.com</a>
            </td>
          </tr>
          <tr>
            <td class="detail">
              <img src="../../assets/geo-alt.svg" class="Icon" />
              <a href="http://maps.google.com/?q=No31, Jalan Putera Indah 3/12, Bandar Putera Indah, Tongkang Pechah, 83010 Batu Pahat, Johor." target="_blank">No31, Jalan Putera Indah 3/12, Bandar Putera Indah, Tongkang Pechah, 83010 Batu Pahat, Johor.</a>
            </td>
          </tr>
        </table>
      </div>
    </div>